<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    
  <ion-list color="dark">
    <ion-item color="dark" detail *ngFor='let wish of wishesService.listas'>
      <ion-label>{{wish.title}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
</ion-content>
